* {
  margin: 0;
}

.app {
  height: 100%;
  background-color: white;
}

.title {
  color: darkslategrey;
  padding-bottom: 10px;
}

.appHeader {
  text-align: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
  /* padding: 15px; */
}

.aboutButton {
  padding-left: 10px;
}

.signUpInputFields {
  display: flex;
  flex-direction: column;
}

.signUpButton {
  padding-bottom: 10px;
  padding-top: 5px;
}

.welcomeUser {
  padding-bottom: 10px;
}