* {
  margin: 0;
}

.app {
  height: 100%;
  background-color: white;
}

.title {
  color: darkslategrey;
}

.appHeader {
  text-align: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
  padding: 15px;
}

@media(min-width: 600px) {
  body {
    background-color: darkslategrey;
  }
}

/* @media(max-width: 599px) {
  body {
    background-color: blue;
  }
} */