* {
  margin: 0;
}

.app {
  height: 100%;
  background-color: white;
}

.title {
  color: darkslategrey;
  padding-bottom: 10px;
}

.appHeader {
  text-align: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
  /* padding: 15px; */
}

.aboutButton {
  padding-left: 10px;
}

.signUpInputFields {
  display: flex;
  flex-direction: column;
}

.signInInputFields {
  display: flex;
  flex-direction: column;
}

.welcomeUser {
  padding: 3px;
}

.signInButtons {
  padding-bottom: 10px;
}

.aboutModalTitle {
  padding-bottom: 15px;
}

.aboutModalContent {
  padding-bottom: 10px;
  font-weight: normal;
}